.start{
    padding: 5px 10px;
    background: #0075D8;
    margin-left: 10px;
    border-radius: 5px;
    border: 0px;
    color: white;
}

.select{
    width: 100px;
}

.controllers{
    margin-bottom: 20px;
}

.wrapper{
    display: flex;
}

.leftBar{
    margin: 0 30px;
}